body {
    font-size: 30px;
    background-image: url('assets/light.png');
    background-size: 100%;
    transition: background-image 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.dark {
    background-image: url('assets/dark.png');
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
}

.site-name {
    margin: 0;
}

.theme-toggler {
    position: relative;
    width: 60px;
    height: 30px;
}

.theme-toggler input {
    display: none;
}

.theme-toggler .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.4s;
}

.theme-toggler .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.theme-toggler input:checked + .slider {
    background-color: #444;
}

.theme-toggler input:checked + .slider:before {
    transform: translateX(30px);
}

.main-content {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 70px; /* Adjust according to the footer height */
}

.ui.center.aligned.segment {
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 20px;
    margin: 0;
}
#music-list {
    overflow-y: auto;
    margin-top: 30px;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.brand-name {
    font-size: 24px;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .ui.container {
        padding: 10px;
    }
}
